{% extends "layout.html" %}
{% block content %}

    <!-- Header -->
     <section class="carbon-page">
        <!-- Header -->
        <header class="page-header">
        <div>
            <h1>Carbon App <span style="color:teal"> Calculator </span></h1>
        </div>
        </header>

        <div class="wrapper">
        
            <!---------Update-------->
            <section class="update">
                <div>
                    <p>Add a new entry:</p>
                    <a class="button" type="submit"><i class="fa-solid fa-car"></i>Car</a>
                    <a class="button" type="submit"><i class="fa-solid fa-bus"></i>Bus</a>
                    <a class="button" type="submit"><i class="fa-solid fa-plane"></i>Plane</a>
                    <a class="button" type="submit"><i class="fa-solid fa-ferry"></i>Ferry</a>
                    <a class="button" type="submit"><i class="fa-solid fa-motorcycle"></i>Motorbike</a>
                    <a class="button" type="submit">Electric scooter</a>
                    <a class="button" type="submit"><i class="fa-solid fa-bicycle"></i>Bicycle</a>
                    <a class="button" type="submit"><i class="fa-solid fa-person-walking"></i>Walk</a>
                </div>

            </section>

            <!--------Alternative------->
            <section class="alternative"> 
                <h3> Smart Alternative</h1>

            <div class="recAlt"> 
                <h5> Recommended alternative</h3>
            </div>

            

            </section>
        </div>

</section>
    
{% endblock content %}