{% extends "layout.html" %}
{% block content %}
  
<!-- Header -->
<section class="section_header_user">
    <div class="container">
    <header class="page-header">
        <form action="/submit" method="POST">
            <div class="page-center">
            <div class="input-group">
            <h3> Welcome <span style="color:teal"> back! </span></h3>
            <p>Username</p>
            <input type="email" name="email" placeholder="Enter your email" required>
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter your password" required>
            <a class="button" type="submit">Log in</a>
            </div>
            </div>
        </form>
     </div>
</section> 

{% endblock content %}