{% extends "layout.html" %}
{% block content %}
  
<!-- Header -->
<section class="section_header_user">
    <div class="container">
    <header class="page-header">
        <div>
            <h2> Welcome <span style="color:teal"> Back </span></h2>
        </div>
        <form action="/submit" method="POST">
            <div class="page-center">
            <div class="input-group">
            <input type="email" name="email" placeholder="Enter your email" required>
            <input type="password" name="password" placeholder="Enter your password" required>
            </div>
            </div>
        </form>
        <button class="button" type="submit">Log in</button>
     </div>
</section> 

{% endblock content %}