{% extends "layout.html" %}
{% block content %}
  
<!-- Header -->
<section class="section_header_user">
    <div class="container">
    <header class="page-header">
        <div>
            <h2> Register <span style="color:teal"> Here </span></h2>
        </div>
        <form action="/submit" method="POST">
            <div class="page-center">
            <div class="input-group">
            <h3>Welcome to our <span style="color:teal">app</span></h3>
            <text>Username</text>
            <input type="username" name="username" placeholder="Enter your username" required>
            <text>Email</text>
            <input type="email" name="email" placeholder="Enter your email" required>
            <text>Password</text>
            <input type="password" name="password" placeholder="Enter your password" required>
            <text>Confirmation of password</text>
            <input type="password" name="password" placeholder="Confirm your password" required>
            <a class="button" type="submit">Sign up</a>
            </div>
            </div>
        </form>
     </div>
</section> 

{% endblock content %}