.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 16px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    border: 2px solid white;
    background-color: teal;
    color: white;
}

.input-group input {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #f0f0f0;
    font-size: 14px;
    width: 100%;         /* inputs stretch to fill the box */
    box-sizing: border-box;
    outline: none;
}
.input-box input:focus {
    background-color: #e0e0e0;           /* slightly darker grey when active */
}
.input-group {
    display: flex;
    flex-direction: column;  /* stacks inputs on top of each other */
    gap: 10px;               /* space between inputs */
    padding: 30px;
    border: 2px solid teal;
    border-radius: 8px;
    background-color: #f9f9f9;
    width: 500px;
}
.page-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.h2 {
    display: flex;
    flex-direction: column;   /* stacks h2 and content vertically */
    justify-content: center;
    align-items: center;
    height: 100vh;
}