/* Colors 
Home, section 1 (header, background): #9fa7bf
Home, section 1 (header, boxes): #568c63
Home, section 2 (developers, background): #c5c8d9 
Home, section 2 (developers, boxes): #49736f
 */

/* Utilities  */
p {
  margin: 10px 0;
  font-size: 18px;
}
/* Section header_home */
.section_header_home {
  position: relative;
  width:100%;
  height: 100vh;
  overflow: hidden;
  
}

.header-video {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* MAGIEN */
}

/*------------------------------------------------*/

/* Key figures */

.key_figures{
  background: #fff;
  padding: 80px 0;
}

.key_figures_top{
  position: relative;
  padding-top: 20px;
  margin-bottom: 40px;
}

.key_figures_top::before{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 1px;
  background: lightskyblue; /* lys strek */
  
}


.key_figures_top h3{
  margin: 0;
  font-size: 28px;
  font-weight: 400;
  color: #78aef5; /* lys blå */

}

.stats{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  align-items: center;

}

.stat{
  text-align: center;
}

.stat-number{
  font-size: clamp(50px, 6vw, 110px);
  font-weight: 300;
  color: #78aef5;
  line-height: 1;
}

/* liten tekst under */
.stat-label{
  margin-top: 10px;
  font-size: 12px;
  letter-spacing: 1.5px;
  color: #78aef5;
  text-transform: uppercase;
}


/*--------------------------------------------------------*/

/**
.section_header_home_video::after{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  height: 160px; /* hvor “lang” fade skal være */
  /*
  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0) 0%,
    rgba(255,255,255,1) 100%
  );
  pointer-events: none;
}   
 */


.box {
  position: relative; /* important */
  height: 100%;
  max-width: 900px;
  z-index:3;
  margin: 0 auto;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: white;
  padding: 100px;
  padding-top: 500px;
}

.name{
    font-size: 18px;
    letter-spacing: 0.5px;
    opacity: 0.9;
    margin-bottom: 14px;
    color: white;
    
}

.text-logo{
    color:black;
    font-weight: bold;
}





/**
.header_home .box {
  flex: 1;
  background: #9fa7bf;
  color: #fff;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
  align-items: center;
  justify-content: center;
}
.header_home .box:nth-of-type(1) {
  flex-grow:2;
}
.header_home .box:nth-of-type(2) {
  flex-grow:1;
}
.container_buttons_header_home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
}
.container_buttons_header_home a:hover {
  color: #9fa7bf;
}
.container_buttons_header_home btn {
  width: 100px;
  height: 100px;
  background: #9fa7bf;
  color: #fff;
  display: flex;
  justify-content:center;
  align-items:center;
}
  */
/* Section developers */
.section_developers {
  background-color:#c5c8d9;
}
.developers {
  display: flex;  
  align-items: start;
  background: #c5c8d9;
}
.developers .box {
  flex: 1;
  background: #49736f;
  color: black;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
  align-items: center;
  justify-content: center;
}
.developers .box:nth-of-type(1) {
  flex-grow:4;
}
.developers .box:nth-of-type(2) {
  flex-grow:4;
}
.developers .box:nth-of-type(3) {
  flex-grow:4;
}
.developers .box2 {
  flex: 1;
  background: #49736f;
  color: black;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
  align-items: center;
  justify-content: center;
}
.developers .box2:nth-of-type(1) {
  flex-grow:4;
}
.developers .box2:nth-of-type(2) {
  flex-grow:4;
}
.developers .box2:nth-of-type(3) {
  flex-grow:4;
  background: #c5c8d9;
}
.container_buttons_developers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
  padding: 0px 0px;
  margin: 0px 0px;
}
.btn_developers {
  padding: 10px 10px;
  margin: 10px 10px 10px 10px;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  background-color: #49736f;
  border: 2px solid  #c5c8d9;
}
.btn_developers:hover {
  color: #fff;
  background-color: #c5c8d9;
  border: 2px solid #c5c8d9;
  text-decoration: none;
}


@media (max-width:768px) { 
  .header_home {
    flex-direction: column;
  } 
  .developers {
    flex-direction: column;
  } 
  .container_buttons_developers {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .stats{
    grid-template-columns: 1fr;
    gap: 25px;
  }
}